@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .striped tr:nth-child(even) {
    @apply bg-gray-100
  }
  
}

ul{
  display: flex;
}
li{
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  font-weight: 400;
  border: 1px solid #ddd;
  border-radius: 5px;
}
li.selected{
  background: black;
  color: white;
}
th, tr, td{
  border-radius: 5px;
}
td:hover {
  /* cursor: pointer; */
  /* border: 1px solid black; */
  /* border-radius: 5px; */
}
